/* You can add global styles to this file, and also import other style files */
.head-nav{
    display: flex !important;
    justify-content: flex-end !important;
}
.navbar{
    background-color: #fff !important;
}
// navbar end......

.sub-heading{
    text-align: center !important;
}
.sub-con  {
    color: rgb(204, 162, 162);
  
}
.sub-heading img{
    width: 100%;
    height: auto;
}
.banner{
    
 

}